h1{
	text-align: center;background-color: lightgreen;color: red;
}
body{
	background-color: blue;
}
.eg1{
	text-align: center;background-color: pink;color: green;
}
#eg2{
	text-align: center;background-color: skyblue;color:pink;
}
}